.email-subscribe {
    margin-top: 150px;
    background-color: #101A24;
    width: 100%;

    .email-subscribe-container {
        display: flex;
        gap: 50px;

        .email-subsctibe-logo {
            position: relative;
            top: -100px;
        }

        .email-subscribe-inform {
            align-items: center;
            display: flex;
            width: 100%;
            gap: 40px;
            .email-subscribe-inform-data {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;

                .email-subscribe-inform-title {
                    font-size: 24px;
                    line-height: 33px;
                    font-family: Montserrat-SemiBold;
                    color: #FFFFFF;
                }

                .email-subscribe-inform-text {
                    color: #C8C8C8;
                    font-size: 16px;
                    line-height: 27px;
                    font-family: Montserrat-Medium;
                }
            }

            .email-subscribe-form {
                width: 100%;
                .subsctiption-input {
                    padding-left: 17x !important;
                    max-width: 365px;
                    width: 100%;
                    background-color: transparent;
                    border: 1px solid #858A90;
                    border-radius: 0 !important;
                    outline: none;
                    color: #C8C8C8;
                    font-size: 16px;
                    line-height: 28px;
                    font-family: Montserrat-Regular;
                    text-indent: 10px;
                    padding-right: 10px;
                }

                .subsctiption-input:focus {
                    border: 1px solid #858A90;
                }

                .subsctiption-form {
                    display: flex;
                    gap: 10px;
                    
                    button {
                        background-color: #4ACB8F;
                        color: white;
                        border: none;
                        font-size: 16px;
                        line-height: 24px;
                        font-family: Montserrat-SemiBold !important;
                        max-width: 202px;
                        width: 100%;
                        height: 48px;
                    }
                }
            }
        }
    }
    
}

@media (max-width: 1140px) { 
    .email-subscribe {
        margin-top: 90px;
        .email-subscribe-container {
            position: relative;
            flex-direction: column;
            padding-top: 64px;
            gap: 0;
    
            .email-subsctibe-logo {
                position: absolute;
                top: -50px;

                svg {
                    width: 40px;
                    height: 100px;
                }
            }

            .email-subscribe-inform {
                padding-bottom: 64px;
                // margin-top: -36px; ??
                flex-direction: column;
                gap: 16px;

                .email-subscribe-inform-data {
                    .email-subscribe-inform-title {
                        font-size: 20px;
                        line-height: 28px;
                    }
                    .email-subscribe-inform-text {
                        font-size: 16px;
                        line-height: 27px;
                    }
                }

                .email-subscribe-form {
                        
                    .subsctiption-form {
                        flex-direction: column;

                        .subsctiption-input {
                            height: 48px;
                            width: 100%;
                            max-width: 100%;
                            padding-right: 0;
                        }

                        button {
                            width: 100%;
                            max-width: 1140px;
                        }
                    }
                }
            }
        }
    }
}