.flex-container-comment {
    display: flex;
    flex-direction: column;
}

.client-title {
    color: black;
    font-size: 56px;
    line-height: 72px;
}

.client-title span {
    background: linear-gradient(90deg, rgba(74, 203, 143, 1), rgba(51, 141, 222, 1));
    -webkit-background-clip: text;
    color: transparent;
}

.client-text {
    color: #393939;
    margin-top: 24px;
    max-width: 768px;
    font-size: 16px;
    line-height: 24px;
}

/* ----- */

.comment {
    margin-top: 252px;
}

.client-data {
    display: flex;
}

.animated-feedback {
    animation-name: slideInRight;
    animation-duration: .7s;
  }

  @keyframes slideInRight {
      0% {
        opacity: 0;
      }
      10% {
        opacity: .1;
      }
      20% {
        opacity: .2;
      }
      30% {
        opacity: .3;
      }
      40% {
        opacity: .4;
      }
      50% {
        opacity: .5;
      }
      60% {
        opacity: .6;
      }
      70% {
        opacity: .7;
      }
      80% {
        opacity: .8;
      }
      90% {
        opacity: .9;
      }
      100% {
        opacity: 1;
      }
  }

.client-meta-data {
    display: flex;
    flex-direction: column;
}

.client-meta-data {
    margin-left: 14px;
}

.client-name {
    color: #0E100E;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}

.client-company {
    font-size: 14px;
    line-height: 21px;
    color: #8C8C8C;
}

.client-raiting {
    display: flex;
    margin-top: 16px;
}


.client-raiting img {
    margin-right: 4px;
    content: url('../../../public/client/client_star.svg');
}

.client-comment {
     min-height: 135px;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 27px;
    margin-top: 16px;
    max-width: 667px;
}

.client-move {
    display: flex;
    margin-top: 24px;
}

.client-move div {
    border: 1px solid #4ACB8F;
    background: #4ACB8F;
    height: 48px;
    width: 48px;
}


.client-next {
    margin-left: 16px;
}

.client-next img {
    height: 24px;
    padding: 12px 12px 12px 12px;
}


.client-previous img{
    height: 24px;
    padding: 12px 12px 12px 12px;
}
