.flex-container-project {
    display: flex;
}

.projects {
    margin-top: -24px;
    position: absolute;
    right: 0;
}

.project {
    margin-right: 24px;
    margin-top: 24px;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-add {
    width: 204px;
    height: 204px;
    background: transparent;
    border: 1px solid #B9D7FF;
}

.add-my-company {
    color: #0360B2;
    font-size: 20px;
    line-height: 26px;
    padding: 12px 19px 59px 19px;
}

.project-add img {
    padding: 59px 78px 0 78px;
    content: url('../../../public/client/add-my-project-star.svg');
}


#company-1 {
    content: url('../../../public/client/company1.svg');
}
#company-2 {
    content: url('../../../public/client/company2.svg');
}
#company-3 {
    content: url('../../../public/client/company3.svg');
}
#company-4 {
    content: url('../../../public/client/company4.svg');
}
#company-5 {
    content: url('../../../public/client/company5.svg');
}
/* #company-6 {
    content: url('../../../public/client/company6.svg');
} */
#company-7 {
    content: url('../../../public/client/company7.svg');
}
#company-8 {
    content: url('../../../public/client/company8.svg');
}
#company-9 {
    content: url('../../../public/client/company9.svg');
}
#company-10 {
    content: url('../../../public/client/company10.svg');
}
#company-11 {
    content: url('../../../public/client/company11.svg');
}
