.flex-container-article {
  position: relative;
  margin-top: 16px;
  background: #061019;
  display: flex;
  min-height: 303px;
  max-height: 816px;
  width: 100%;
}

.skeleton-title {
  width: 500px;
}

.skeleton-text {
  height: 200px;
  width: 100%; /* Set this to the desired width */
}

.under_dev {
  text-align: center;
}
.UNDER_DEVELOP {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  line-height: 62px;
  color: #748B9F;
}
.flex-container-left {
  padding-left: 64px;
  display: flex;
  flex-direction: column;
}

.article-title {
  font-size: 24px;
  line-height: 29px;
  color: white;
  padding: 64px 0 0 0;
}

.article-text {
  color: #C8C8C8;
  margin-top: 24px;
  max-width: 768px;
  font-size: 16px;
  line-height: 24px;
}

.article-read-me {
  margin-bottom: 64px;
  width: 124px;
  margin-top: 24px;
  display: flex;
  color: #4ACB8F;
}

.article-read-me img {
  transition: 0.3s;
  margin-top: -1px !important;
  margin-left: 8px;
}

.flex-container-right {
  padding: 40px 40px 40px 139px;
}
