

.motivation {
    background-color: #101A24;
    padding-top: 100px;
    padding-bottom: 100px;

    .motivation-text {
        font-size: 40px;
        line-height: 56px;
        font-family: Gilroy-SemiBold;
        color: #FFFFFF;
    }
}

@media (max-width: 1140px) {
    .motivation {
        padding-top: 64px;
        padding-bottom: 64px;

        .motivation-text {
            font-size: 30px;
            line-height: 39px;
        }
    }
}