.footer {
  background: #101A24;
  height: 301px;
}

.footer-bigshare {
  width: 100vh;
}

.flex-container-footer {
  display: flex;
  flex-direction: column;
}


.footer-navigation {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 19.6px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

hr {
  border: 0.1px solid #2E3842;;
}

.flex-container-navigation-footer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.flex-container-social {
  width: 100vh;
  display: flex;
  justify-content: flex-end;
}

.linkedin {
  margin-right: 16px;
}

.behance {
  margin-right: 16px;
}

.instagram {
  margin-right: 0;
}

.footer-bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.location-street {
  margin-top: 2px;
  padding-left: 8px;
  color: #C8C8C8;
  font-size: 16px;
  line-height: 19.6px;
}

.location {
  width: 100vh;
  display: flex;
}

.conditions {
  color: white;
  width: 100vh;
  margin-top: 2px;
  display: flex;
  justify-content: space-evenly;
}

.gmail {
  width: 100vh;
  justify-content: flex-end;
  display: flex;
}

.email {
  color: white;
  margin-top: 2px;
  padding-left: 8px;
}
