.flex-container-technology {
    display: flex;
    flex-direction: column;
}

.technology-title {
    max-width: 1096px;
    line-height: 130%;
    padding-top: 200px;
    color: #FFFFFF;
    font-size: 56px;
}

.technology-title span {
    background: linear-gradient(90deg, rgba(74, 203, 143, 1), rgba(51, 141, 222, 1));
    -webkit-background-clip: text;
    color: transparent;
}

.technology-text {
    max-width: 1096px;
    font-size: 16px;
    color: #C8C8C8;
    margin-top: 24px;
    line-height: 24px;
}

.technologies {
    background: #101A24;
    overflow: hidden;
}


.technologies::before,
.technologies::after {
    content: '';
    position: fixed;
    width: 100%;
    max-height: 450px;
    max-width: 450px;
    height: 100%;
    border-radius: 50%;
    filter: blur(130px);
    z-index: -100;
     
}

.technologies::before {
    background-color: #338DDE; /* Колір другого кружечка */
    bottom: -2%; /* Відстань від нижнього краю */
    right: 0%; /* Відстань від лівого краю */
}

.technologies::after {
    background-color: #4ACB8F; /* Колір першого кружечка */
    bottom: 2%; /* Відстань від нижнього краю */
    right: 18%; /* Відстань від лівого краю, з урахуванням ширини першого кружечка */
}

.languages {
    margin-top: 100px;
}

.logo {
    position: absolute;
    margin-top: -100px;
}
