.flex-container-technology {
    display: flex;
    flex-direction: column;
}

.technology-title {
    max-width: 1096px;
    line-height: 130%;
    padding-top: 200px;
    color: #FFFFFF;
    font-size: 56px;
}

.technology-title span {
    background: linear-gradient(90deg, rgba(74, 203, 143, 1), rgba(51, 141, 222, 1));
    -webkit-background-clip: text;
    color: transparent;
}

.technology-text {
    max-width: 1096px;
    font-size: 16px;
    color: #C8C8C8;
    margin-top: 24px;
    line-height: 24px;
}

.technologies {
    background-color: #101A24; /* Основний фон */
    background-image: radial-gradient(circle at 95% 90%, rgba(52, 141, 222, 0.8) 5%, rgba(52, 141, 222, 0) 60%), 
                      radial-gradient(circle at 75% 95%, rgba(74, 203, 143, 0.8) 5%, rgba(74, 203, 143, 0) 60%);
    background-repeat: no-repeat;
    background-size: 450px 450px; /* Повернення до більшого розміру для ширшого покриття */
    background-position: right 10% bottom 10%, 80% 90%; /* Коригування позиції */
    overflow: hidden;
    position: relative;
}



.languages {
    margin-top: 100px;
}

.logo {
    position: absolute;
    margin-top: -100px;
}
