.flex-containter-language {
    display: flex;
}

.flex-containter-buttons {
    display: flex;
}

.flex-containter-buttons button {
    font-size: 16px;
    margin-right: 16px;
    border: 1px solid #273039;
    color: white;
    background-color: transparent;
    height: 48px;
    width: 202px;
}

.flex-containter-buttons button span {
    padding: 13px 24px 13px 24px;
}

.box {
    background: #061019;
    width: 202px;
    height: 243px;
    margin-right: 16px;
}

.flex-container-technologies-box {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(174px,1fr));
    max-width: 1074px;
}

.box-text {
    color: white;
    padding: 24px 25px 67px 25px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
}

.box-image {
    text-align: center;
    margin: 66px auto 0 auto;
}
.box-text-javascript::after {
    content: "Java Script";
}

.box-text-css::after {
    content: "CSS";
}
.box-text-react::after {
    content: "React";
}

.box-text-wordpress::after {
    content: "Wordpress";
}

.box-text-html::after {
    content: "HTML";
}

.box-text-figma::after {
    content: "Figma";
}

.box-text-photoshop::after {
    content: "Photoshop";
}


.box-text-illustrator::after {
    content: "Illustrator";
}


.box-text-after-effects::after {
    content: "After Effects";
}


.box-text-indesign::after {
    content: "Indesign";
}

.box-text-java::after {
    content: "Java";
}

.box-text-kotlin::after {
    content: "Kotlin";
}


.box-text-react-native::after {
    content: "React Native";
}

.box-text-angular::after {
    content: "Angualr";
}

.box-text-flutter::after {
    content: "Flutter";
}

.flex-container-technologies-box {
    margin-bottom: 200px;
}

.green {
    background-color: #1A9D63 !important;
}
