@import url('../../../css/fonts/fonts.css');

.dashboard {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .logout-div {

        display: flex;
        justify-content: center;
        flex-direction: column;

        
        .logout {
            width: 202px;
            height: 48px;
            background-color: #4ACB8F;
            border: none;
            font-family: Montserrat-Medium;
            font-size: 16px;
            color: white;
            transition: 0.3s;
            
            &:hover {
                transition: 0.3s;
                cursor: pointer;
                background-color: #338DDE;
                
            }
        }
    }
}