@media only screen and (min-width: 1141px) {
  /* ---Header--- */
  .contact-us-button:hover {
    transition:0.3s;
    background: #0360B2;
    box-shadow: 0px 10px 25px rgba(3, 96, 178, 0.25);
    border: 1px solid  #0360B2;
    cursor: pointer;
  }


  .hover-header:hover {
    cursor: pointer;
    color: #0360B2;
  }

  /* ----Head---- */

  .get-started-button:hover {
    transition:0.3s;
    background: #0360B2;
    box-shadow: 0px 10px 25px rgba(3, 96, 178, 0.25);
    border: 0.1px solid  #0360B2;
    cursor: pointer;
  }

  /* ---Service--- */

  .flex-containter-develop-inside:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(3, 96, 178, 0.15);
  }

  .box:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  }

  .box:hover .box-image {
    transition: 0.3s ease-out 100ms;
    transform: scale(1.2) translate(0, -10%);
  }

  /* ---Language--- */

  .tech-button-hover:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: #0360B2 !important;
    box-shadow: 0px 10px 25px rgba(3, 96, 178, 0.25);
  }

  .green:hover{
    cursor: pointer;
  }

  /* ---Client--- */

  .project:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(3, 96, 178, 0.15);
  }

  .project-add:hover {
    border: 1px solid #0360B2;
    cursor: pointer;
    box-shadow: 0px 10px 25px rgba(3, 96, 178, 0.47);
    background-color: #0360B2;
  }

  .project-add:hover .add-my-company {
    color: white;
  }

  .project-add:hover svg path {
    stroke: white;
  }

  .client-previous:hover, .client-next:hover {
    box-shadow: 0px 10px 25px rgba(3, 96, 178, 0.47);
    cursor: pointer;
    border: 1px solid #0360B2;
    background: #0360B2;
  }

  /* ---Portfolio--- */

  .flex-container-inside-block:hover .block-logo {
    transition: 0.3s ease-out 100ms;
    transform: scale(1.2) translate(-42%, -40%);
  }

  .block:hover {
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(3, 96, 178, 0.15);
  }

  .portfolio-add-block:hover {
    transition: 0.3s;
    cursor: pointer;
    background: #0360B2;
    box-shadow: 0px 10px 25px rgba(3, 96, 178, 0.47);
    border: 1px solid #0360B2;
  }

  .portfolio-add-block:hover .add-text {
    color: white;
  }

  .portfolio-add-block:hover svg path {
      stroke: white;
  }

  /* ---Blog--- */

  .article-read-me:hover {
    cursor: pointer;
  }

  .article-read-me:hover .read-me-text {
    text-shadow: 0px 10px 25px rgba(3, 96, 178, 0.47);
    color: #0360B2;
  }

  .article-read-me:hover img {
    text-shadow: 0px 10px 25px rgba(3, 96, 178, 0.47);
    content: url('../../public/blog/arrow-right-read-me-hover.svg');
  }

  .blog-view:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: #0360B2;
    box-shadow: 0px 10px 25px rgba(3, 96, 178, 0.47);
  }

  /* ---Anketa--- */

  .select:hover {
    transition: 0.3s;
    box-shadow: 0px 10px 25px rgba(3, 96, 178, 0.47);
    border: 1px solid #0360B2;
    cursor: pointer;
    background-color: #0360B2;
  }

  .select:hover .select-title {
    color: white;
  }

  .select:hover svg path {
    stroke: white;
  }

  .back-group:hover {
    transform: 0.3s;
    color: #0360B2;
    cursor: pointer;
  }

  .back-group:hover img {
    transform: 0.3s;
    text-shadow: 0px 10px 25px rgba(3, 96, 178, 0.47);
    content: url('../../public/anketa/anketa-back-arrow-hover.svg');
  }

  .back-group:hover {
    text-shadow: 0px 10px 25px rgba(3, 96, 178, 0.47);
    cursor: pointer;
  }

  .submit:hover {
    background: #0360B2;
    box-shadow: 0px 10px 25px rgba(3, 96, 178, 0.25);
    border: 1px solid  #0360B2;
    cursor: pointer;
  }

  /* ---Footer--- */

  .hover-footer:hover {
    cursor: pointer;
    color: #0360B2;
  }

  .location-inside:hover {
    cursor: pointer;
  }

  .location-inside:hover .location-street {
    color: #0360B2;
  }

  .location-inside:hover svg path {
    stroke: #0360B2;
  }

  .gmail-inside:hover {
    cursor: pointer;
  }

  .gmail-inside:hover .email {
    color: #0360B2;
  }

  .gmail-inside:hover svg path {
    stroke: #0360B2;
  }

  .instagram:hover svg {
    cursor: pointer;
    transition: 0.3s;
    filter: drop-shadow(0px 10px 25px rgba(240, 0, 115, 0.47));
    fill: #F00073;
  }

  .behance:hover svg{
    fill:#1157FF;
    cursor: pointer;
    transition: 0.3s;
    filter: drop-shadow(0px 10px 25px rgba(17, 87, 255, 0.47));
  }

  .linkedin:hover svg {
    fill: #2867B2;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 10px 25px rgba(40, 103, 178, 0.47);
  }
}
