@media only screen and (max-width: 1410px) {
  .flex-direction-column-3 {
    display: none !important;
  }
}
@media only screen and (max-width: 1034px) {
  .comment {
    padding-top: 185px;
  }
}
@media only screen and (max-width: 686px) {
  .comment {
    padding-top: 370px;
  }
}
@media only screen and (max-width: 512px) {
  .comment {
    padding-top: 690px;
  }
}

@media only screen and (max-width: 600px) {
  .portfolio-blocks {
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr)) !important;
  }
}

@media only screen and (max-width: 338px) {
  .comment {
    padding-top: 1700px;
  }

}

@media only screen and (max-width: 1140px) {
  .main {
    height: auto !important;
  }
  .contact-us-button {
    width: 162px !important;
    height: 40px !important;
    padding: 0 !important;
  }
  .text-head-1 {
    margin-top: 64px !important;
    max-width: 485px !important;
    font-size: 32px !important;
    line-height: 46px !important;
  }
  .text-head-2 {
    margin-top: 4px !important;
    max-width: 863px !important;
    height: 100% !important;
    max-height: 140px !important;
    line-height: 24px !important;
    font-size: 16px !important;
  }
  .text-head-3 {
    padding-bottom: 64px !important;
    margin-top: 36px !important;
    width: 100% !important;
  }
  .text-head-3 button {
    width: 100%;
  }
  .get-started-button {
    width: 100%;
    justify-content: center !important;
  }
  .arrow-right-get-started {
    display: none;
  }

  /* service */
  .service-2-text {
    max-width: 1080px !important;
  }
  .flex-containter-service {
    align-items: center;
    margin-top: 64px !important;
  }
  .service-1 {
    font-size: 30px !important;
    max-width: 604px !important;
    line-height: 39px !important;
  }
  .service-2 {
    margin-top: 16px !important;
    max-width: 863px !important;
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .service-3 {
    margin-top: 64px !important;
  }
  .flex-containter-service-develop {
    margin-top: 0 !important;
    flex-direction: column;
  }
  .develop-2, .develop-1 {
    max-width: 863px !important;
    min-height: 181px !important;
    max-height: 335px !important;
  }
  .flex-containter-develop-inside {
    max-width: 863px !important;
    align-items: center;
  }
  .develop-text {
    max-width: 833px !important;
    text-align: center;
    margin-left: 0 !important;
    margin: 0 16px 16px 16px !important;
  }
  .develo-title {
    margin: 0 auto 8px auto !important;
  }
  .develop-image{
    margin: 16px auto 12px auto !important;
  }
  .flex-containter-develop-inside {
    margin: 13px auto 0 auto !important;
  }
  .margin-bottom-204 {
    margin-bottom: 90px !important;
  }

  /* Technologies */
  .scrolling-wrapper {
        width: 100% !important;
        max-width: 543px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
}
  .box-image img {
    height: 52px !important;
    width: 52px !important;
  }
  .box-text {
    padding-top: 0 !important;
  }
  .technology-title {
    max-width: 590px !important;
    padding-top: 110px !important;
    font-size: 30px !important;
    line-height: 39px !important;
  }
  .technology-text {
    margin-top: 16px !important;
    font-size: 16px !important;
    line-height: 24px !important;
    max-width: 863px !important;
    height: 100% !important;
    max-height: 144px !important;
    padding-bottom: 32px;
  }
  .languages {
    margin-top: 32px !important;
  }
  .flex-container-technologies-box {
    max-width: 1080px !important;
    margin-bottom: 64px !important;
    display: grid !important;
    grid-column-gap: 9px !important;
    grid-row-gap: 9px !important
  }
  .box {
    min-width: 165px;
    max-width: 300px;
    width: 100% !important;
    height: 198px !important;
    margin-right: 0 !important;
  }
  .box-image {
    margin: 53.78px 56.37px 19.6px 56.37px !important;
  }
  /* Client */
  .project-add img {
    padding: 0 57px 0 58px !important;
  }
  .project-add {
    border: 0.1px solid #B9D7FF !important ;
    height: 165px !important;
    width: auto !important;
  }
  .comment {
    margin-top: 550px !important;
  }
  .add-my-company {
    font-size: 16px !important;
    line-height: 20px !important;
    padding-top: 12px !important;
    padding-bottom: 0 !important;
    padding-right: 18px !important;
    padding-left: 17px !important;
}
  .flex-grid-direction {
    margin-top: 199px;
    left: 0;
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(165px,1fr));
    grid-column-gap: 9px;
    grid-row-gap: 9px;
  }
  .project {
    margin-top: 0 !important;
    margin-right: 0 !important;
    flex-direction: column;
    min-width: 165px;
    height: 165px !important;
    background: #F8FBFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .client {
    padding-top: 64px !important;
    padding-bottom: 64px !important
  }
  .client-title {
    font-size: 30px !important;
    line-height: 39px !important;
  }
  .client-text {
    margin-top: 16px !important;
    height: 48px !important;
    max-width: 863px !important;
  }

  /* Anketa */
  .select-title {
    font-size: 16px !important;
    margin-top: 16px !important;
  }
  .select {
    height: 198px !important;
    min-width: 165px !important;
  }
  .bar {
    margin-top: 13px !important;
  }
  .back-button-anketa-under {
    margin-top: 4px !important;
  }
  .anketa-question-blog {
    grid-template-columns: repeat(auto-fit,minmax(165px,1fr));
    grid-column-gap: 9px !important;
    grid-row-gap: 9px !important;
    margin-bottom: 13px !important;
  }
  .anketa-question-text {
    font-size: 16px !important;
    line-height: 19px !important;
    margin: 15px auto 15px auto;
  }
  .anketa-question {
    height: 48px !important;
    margin-top: 32px !important;
  }
  .anketa-text {
    margin-top: 16px !important;
    max-width: 862px !important;
    max-height: 172px !important;
    height: 100% !important;
    padding-bottom: 32px !important;
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .anketa-title {
    font-size: 30px !important;
    line-height: 39px !important;
  }
  .flex-container-anketa {
    margin-top: 64px !important;
  }
  /* Portfolio */
  .block-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .portfolio-logo-1 {
    width: 87px;
    height: 77px;
  }
  .portfolio-logo-2 {
    height: 54px;
    width: 146px;
  }
  .portfolio-logo-3 {
    height: 74px !important;
    width: 74px !important;
  }
  .portfolio-logo-4 {
    height: 42px !important;
    width: 171px !important;
  }
  .portfolio-logo-5 {
    height: 108;
    width: 213px;
  }
  .block {
    max-width: 1000px !important;
    height: 200px !important;
  }
  .flex-container-inside-block {
    height: 200px !important;
  }
  .portfolio-text-container {
    font-size: 16px !important;
    line-height: 24px !important;
    max-width: 100% !important;
    margin-top: 16px !important;
  }
  .portfolio-title {
    font-size: 30px !important;
    line-height: 39px !important;
  }
  .flex-container-block {
    display: grid !important;
    grid-template-columns: repeat(auto-fit,minmax(165px,1fr));
    margin: 0 auto;
    max-width: 699px;
  }
  .portfolio-blocks {
    margin-top: 32px !important;
    width: 100%;
    margin: 86px auto 0 auto;
  }
  .portfolio-add-block {
    width: 100% !important;
    max-width: 343px;
    width: 343px;
    height: 198px !important;
  }
  .add-text {
    margin-top: 10px !important;
    font-size: 16px !important;
    min-width: 117px !important;
  }
  .add-star-image img {
    content: url('../../public/portfolio/add-star-laptop.svg');
  }
  .block-title {
    width: 111px !important;
    height: 36px !important;
  }
  .title-block {
    margin: 8px auto 8px auto !important;
    font-size: 12px !important;
}
.title-text-title {
  padding: 0 0 2px 5px !important;
}
  /* Footer */
  .gmail, .conditions, .location {
    justify-content: center !important;
    width: 100% !important;
  }
  .conditions, .gmail{
    margin-top: 26px !important;
  }
  .footer {
    height: 347px !important;
  }
  .footer-bottom {
    flex-direction: column;
  }
  .term-privacy {
    margin-left: 20px;
    margin-right: 20px;
  }
  .level {
    margin-bottom: 64px;
  }
  /* Blog */
  .flex-container-blog {
    padding-top: 90px !important;
  }
  .blog-title {
    font-size: 30px !important;
    line-height: 39px !important;
  }
  .flex-container-article {
    flex-direction: column-reverse;
    }
  .flex-container-right {
    max-width: 1080px !important;
    height: 316px !important;
    padding: 24px 16px 24px 16px !important;
    position: relative;
  }
  .flex-container-right img {
    width: 95%;
    height: 316px;
    z-index: 1;
  }
  .flex-container-left {
    padding-left: 16px !important;
  }
}
