/* ---------- CONTAINER ------------ */
.container {
    max-width: 1438px;
    margin: 0 auto;
}

.technologies {
    background: #101A24;
}

@media (max-width: 1500px) {
    .container {
        margin: 0 32px !important;
    }
}
