@import url('../../../../css/fonts/fonts.css');

.blog-page-main {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;

    .blog-page-main-info {
        max-width: 601px;

        .blog-page-main-title {
            font-family: Gilroy-SemiBold;
            font-size: 56px;
            font-weight: 700;
            color: white;
            line-height: 72px;
        }

        .blog-page-main-description {
            font-family: Montserrat-Regular;
            color: #C8C8C8;
            font-size: 20px;
            line-height: 28px;
            padding-top: 16px;
        }

        hr {
            border: 0.87px solid #2E3842;
            margin-top: 32px;
        }

        .blog-page-main-blog-author {
            padding-top: 32px;
        }

    }
    
    .blog-page-image {
        position: relative;
        max-height: 370px;
        max-width: 705px;
        height: 100%; 
        width: 100%; 
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
        }

        .blog-page-image-skeleton {
            max-height: 370px;
            max-width: 705px;
            height: 100%; 
            width: 100%;    
        }
    }    

        
}