
.about-us-page-head-container {
    display: flex;
    gap: 200px;
    padding-bottom: 100px;
    padding-top: 100px;

    .about-us-page-head {

        display: flex;
        justify-content: left;
        flex-direction: column;
        
        .about-us-page-head-title {
            font-size: 56px;
            line-height: 72px;
            font-family: Gilroy-SemiBold;
            color: #111714;
            letter-spacing: 0.02em;

            span {
                background: linear-gradient(90deg, rgba(74, 203, 143, 1), rgba(51, 141, 222, 1));
                -webkit-background-clip: text;
                color: transparent;
            }
        }

        .about-us-page-head-description {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            font-family: Montserrat-Regular;
            margin-top: 24px;

        }

        .feedback-container {
            display: flex;
            gap: 10px;
            margin-top: 32px;
        }
    }
}