.nav {
    background-color: #101A24;
    height: 72px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav img {
    content: url('../../../public/head/big_share_header_logo.svg');
}

.navlinks {
    display: flex;
    gap: 80px;
}

.navlinks a {
    color: white;
}


.navigator {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-us-button {
    transition:0.3s;
    border: none;
    color: white !important;
    font-size: 16px;
    padding: 13px 24px 13px 24px;
    background-color: #4ACB8F;
    height: 48px;
    width: 202px;
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 1140px) {
    .mobile-nav {
        display: flex;
    }

    .desktop-nav {
        display: none;
    }

    .navlinks{
        z-index: 999;
        display: flex;
        flex-direction: column;
        position: absolute;
        top:72px;
        padding-top: 40px;
        left: 0;
        gap: 50px;
        height: 100vh;
        width: 100%;
        color: white;
        background:#101A24;
        font-size: 20px;
        font-family: Montserrat-SemiBold;
    }

    .navlinks .hover-header {
        margin-left: 32px;
        margin-right: 32px;
        padding-bottom: 32px;
    }

    .hover-header {
        border-bottom: 1px solid #2E3842;
    }

    .navlinks div {
        color: white;
    }

    .HamburgerMenu{
        position: absolute;
        right: 2%;
        cursor: pointer;
    }

    .contact-us-mobile-button-container {
        margin-left: 32px;
        margin-right: 32px;
    }
    
    .contact-us-button {
        margin-right: 32px;
    }

    .contact-us-mobile-button {
        width: 100%;
        transition:0.3s;
        border: none;
        color: white !important;
        font-size: 16px;
        padding: 13px 24px 13px 24px;
        background-color: #4ACB8F;
        height: 48px;
    }
}
