.flex-containter-head {
    display: flex;
    flex-direction: column;
    color: white;
}

.text-head-1 {
    max-width: 851px;
    color:white;
    font-size: 72px;
    padding-top: 267px;
    line-height: 93.6px;
}

.text-head-1-1 {
    padding-top: 327px !important;
}

.text-head-1 span {
    color: #1A9D63;
}

.text-head-2 {
    line-height: 30px;
    margin-top: 24px;
    max-width: 734px;
    height: 90px;
    font-size: 18px;
    color: #F8F8F8;
}

.text-head-3 {
    margin-top: 48px;
}

.get-started-button {
    padding-top: 0px !important;
    transition:0.3s;
    display: flex;
    justify-content: flex-start;
    width: 173px;
    height: 48px;
    background-color: transparent;
    border: 0.1px solid #858A90;
    line-height: 24px;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
}

.get-started {
    color: #FFFFFF;
    padding: 11px 0 13px 24px;
}

.arrow-right-get-started {
    padding: 15px 0 0 16px;
    content: url('../../../public/head/arrow-right-get-started.svg');
}

.video {
    width: 700px;
    height: 700px;
}

.flex-head-container {
    display: flex;
}

.pos-abs {
    position: absolute;
    right: 0;
}

.flex-containte-head {
    z-index: 1 !important;
}
