.flex-container-header {
    display: flex;
    justify-content: space-between;
}

.header-col-1, .header-col-2, .header-col-3 {
    width: 100vh;
}

.header-col-2 {
    color: white;
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}

.flex-container-header-col-2 {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.header-col-3 {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
}

.contact-us-button {
    transition:0.3s;
    border: 1px solid #1A9D63;
    color: white !important;
    font-size: 16px;
    padding: 13px 24px 13px 24px;
    background-color: #1A9D63;
    height: 48px;
    width: 202px;
}

.header-logo {
    margin-top: 16px;
    content: url('../../../public/head/big_share_header_logo.svg');
}
