.main {
    height: 964px;
    width: 100%;
}

.main {
    background-color: #101A24;
    background-image: url('../../../public/head/Ellipse-5.svg'), url('../../../public/head/Ellipse-6.svg');
    background-position: left bottom, right bottom; /* Центруємо по горизонталі та фіксуємо внизу */
    background-size: 60% 50%, 60% 50%; /* Відображаємо лише половину зображення */
    background-repeat: no-repeat, no-repeat; /* Забороняємо повторення */
}

#particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media (max-width: 1140px) {
    .main {
        background-image: none !important;
    }
}
