.main {
    height: 1024px;
    background-repeat: no-repeat;
    background-position: right;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    background-color: #04141c;;
}

.main video {
    position: absolute;
    max-height: 783px;
    max-width: 861px;
    height: 100%;
    width: 100%;
    right: 0;
    top: 104px;
}


@media (max-width: 1400px) {
    .main {
        background-position: center
    }
}

@media (max-width: 1140px) {
    .main {
        background-image: url('../../../public/head/main_background_mobile.jpg');
        background-position: right;
    }
}
