.portfolio-add-block {
  transition: 0.3s;
  max-width: 711px;
  height: 337px;
  border: 1px solid #B9D7FF;
  display: flex;
  position: relative;
}

.margin-left-16 {
  margin-left: 16px;
}

.add-star-left {
  margin-left: 24px;
}

.inside-add {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-text {
  min-width: 193px;
  margin-top: 20px;
  font-size: 24px;
  color: #338DDE;
}

.add-star-image img{
  margin-left: 24px;
}
