.title-block {
    margin: 12px auto 12px auto;
    display: flex;
    justify-content: center;
}
.block-title {
    display: flex;
    justify-content: center;
}

.title-text-title {
    font-size: 16px;
    line-height: 19px;
    padding: 6px 0 5px 10px;
}

.text-1-text {
    color: #8D38D2;
}
.text-2-text {
    color: #9D6DF8;
}

.text-3-text {
    color: #4AC0D8;
}
.text-4-text {
    color: #000000;
}
.text-5-text {
    color: #26AE62;
}

.title-logo-block-1 {
    content: url('../../../public/portfolio/logo-block-1.svg');
}
.title-logo-block-2 {
    content: url('../../../public/portfolio/logo-block-2.svg');
}
.title-logo-block-3 {
    content: url('../../../public/portfolio/logo-block-3.svg');
}
.title-logo-block-4 {
    content: url('../../../public/portfolio/logo-block-4.svg');
}
.title-logo-block-5 {
    content: url('../../../public/portfolio/logo-block-5.svg');
}
